<div class="footer clearfix text-muted">
    <div class="container">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div ng-if="vm.date" class="pull-left">
                &copy; {{ vm.date | date:'yyyy' }} Ericsson
            </div>
            <ul class="list-inline pull-right">
                <li ng-if="vm.application.$resolved">Version: {{vm.application.version}}</li>
                <li><a href={{vm.href}} target="_blank" ng-click="vm.onSwaggerUrlClick()">REST API</a></li>
            </ul>
        </div>
    </div>
</div>
